* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.nav {
    height: 150px;
    width: 98%;
    border: 20px solid white;
    background: rgb(74, 152, 232);
    display: flex;
    align-items: center;
    justify-content: right;
    font-family: "Montserrat", Arial, sans-serif;
}

.nav img {
    flex: right;
    height: auto;
    width: 100px;
}

.nav ul{
    flex: 3;
    display: flex;
    align-content: space-evenly;
    text-align: center;
}

.nav li {
    flex: 1;
    display: inline;
}

.nav a:link {
    color:white;
    text-decoration: none;
}

h1 {
    margin: 30px;
    color: white;
    font-size: 20px;
}

