.container {
  background: rgb(224, 216, 160);
  min-width: 300px;
  max-width: 1100px;
  padding: 40px;
  display: inline-block;
}

h1 {
  height: auto;
  display: inline;
}

.header {
  display: inline-block;
  vertical-align: bottom;
  padding-top: 10px;
  text-align: center;
}

.header img {
  width: 20%;
  height: 105px;
  display: inline;
  background: white;
}

.first_column {
  display: inline-block;
}

.first_column img {
  margin: 10px 0px 10px 0px;
  background: lightblue;
  padding: 20px;
  border: 10px solid black;
  width: 150px;
  height: auto;
  display: block;
}

.second_column {
  display: inline-block;
  vertical-align: top;
}

.second_column img {
  margin: 10px 0px 10px 5px;
  background: hotpink;
  padding: 20px;
  border: 10px solid black;
  width: 150px;
  height: 150px;
  display: block;
}

.third_column {
  display: inline-block;
  vertical-align: top;
}

.third_column img {
  margin: 10px 0px 10px 5px;
  background: lightblue;
  padding: 20px;
  border: 10px solid black;
  width: 150px;
  height: 150px;
  display: block;
}

.fourth_column {
  display: inline-block;
  vertical-align: top;
}

.fourth_column img {
  margin: 10px 0px 10px 5px;
  background: hotpink;
  padding: 20px;
  border: 10px solid black;
  width: 150px;
  height: 150px;
  display: block;
}

.fifth_column {
  display: inline-block;
  vertical-align: top;
}

.fifth_column img {
  margin: 10px 0px 10px 5px;
  background: lightblue;
  padding: 20px;
  border: 10px solid black;
  width: 150px;
  height: 150px;
  display: block;
}
